@import "../shared/variables";
@import "../shared/mixin/px-to-rem";

.content {
  max-width: 450px;
  width: 100%;

  &__title {
    margin-top: 0;
    margin-bottom: rem(29);
    color: $secondary;
    font-family: $font-gilroy-700;
    font-size: rem(64);
    font-weight: 700;
    line-height: 1.5;

    @media screen and (max-width: 1440px) {
      margin-bottom: rem(25);
      font-size: rem(54);
    }

    @media screen and (max-width: 991px) {
      line-height: 1.2;
    }

    @media screen and (max-width: 767px){
      font-size: rem(48);
      line-height: 1.2;
    }
  }

  &__column {
    & + & {
      margin-top: rem(90);

      @media screen and (max-width: 1440px) {
        margin-top: rem(60);
      }

      @media screen and (max-width: 767px) {
        margin-top: rem(30);
      }
    }
  }

  &__subtitle {
    color: $secondary;
    font-family: $font-gilroy-900;
    font-size: rem(18);
    font-weight: 900;
    line-height: 1.7778;
    text-transform: uppercase;
    letter-spacing: rem(3.6);
  }

  &__subtext {
    margin-bottom: rem(20);
    color: $secondary;
    font-family: $font-gilroy-700;
    font-size: rem(18);
    font-weight: 700;
    line-height: 1.6667;

    @media screen and (max-width: 1440px){
      font-size: rem(16);
    }
  }

  &__text {
    color: $secondary;
    font-family: $font-gilroy-500;
    font-size: rem(18);
    font-weight: 500;
    line-height: 1.6667;

    @media screen and (max-width: 1440px){
      font-size: rem(16);
    }

    & + & {
      margin-top: rem(36);

      @media screen and (max-width: 1440px){
        margin-top: rem(30);
      }
    }
  }
  &__btn {
    margin-top: rem(50);

    @media screen and (max-width: 1440px){
      margin-top: rem(43);
    }
  }
  &__link {
    display: inline-flex;
    margin-top: rem(37);

    @media screen and (max-width: 1440px){
      margin-top: rem(32);
    }
  }
}
