@import "../shared/variables";
@import "../shared/mixin/px-to-rem";

.nav {
  display: flex;
  font-size: 0;

  .menu-drop & {
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: rem(0, 15);
  }

  &__link {
    position: relative;
    font-size: rem(11);
    font-weight: 500;
    font-family: $font-gilroy-500;
    line-height: 1.2;
    letter-spacing: rem(2.2);
    color: $light;
    text-transform: uppercase;
    transition: color .15s ease-in-out;

    &.active {
      color: #9fa3b1;
    }

    .menu-drop & {
      display: block;
      width: 100%;
      color: $primary;
      padding: rem(10, 0);
    }

    & + & {
      margin-left: rem(50);

      @media screen and (min-width: 992px) and (max-width: 1440px) {
        margin-left: rem(35);
      }

      @media screen and (max-width: 991px) {
        margin-left: rem(20);
      }

      .menu-drop & {
        margin-left: 0;
      }
    }

    &::before {
      position: absolute;
      content: '';
      top: 100%;
      left: 50%;
      right: 50%;
      z-index: 1;
      height: 1px;
      background-color: $contrast;
      transition: left .15s ease-in-out, right .15s ease-in-out;
    }

    &:hover {
      &::before {
        left: 0;
        right: 0;
      }
    }
  }
}

.menu-drop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 9999;
  background-color: $contrast;
  transform: translateY(-100%);
  transition: transform .5s ease-in-out;

  @media screen and (orientation: landscape) {
    padding: rem(40, 0);
  }

  @media screen and (orientation: portrait) {
    padding: rem(80, 0);
  }

  @media screen and (max-width: 767px){
    display: flex;
    flex-direction: column;
  }

  .is-menu-open & {
    transform: translateY(0);
  }
}
