@import "../shared/variables";
@import "../shared/mixin/px-to-rem";

.page {
  @media screen and (min-width: 768px){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: transform .7s, opacity .7s;
    will-change: transform, opacity;

    & .left {
      transform: translateX(-100%);
    }

    & .right {
      transform: translateX(100%);
    }

    &.active {
      pointer-events: initial;

      .half {
        transform: translateX(0) !important;
        transition: transform .7s ease-out;
      }
    }

    &.previous {
      opacity: 0.4 !important;
      visibility: visible !important;
    }

    &.small {
      transform: scale(0.8);
      opacity: 0;

      .half {
        transform: translateX(0) !important;
      }
    }

    &-1.active ~ .nav-panel {
      .scroll-btn.up {
        opacity: 0;
      }
    }

    &-6.active ~ .nav-panel {
      .scroll-btn.down {
        opacity: 0;
      }
    }
  }

  @media screen and (max-width: 767px){
    &:nth-child(even) {
      display: flex;
      flex-direction: column-reverse;
    }

    &:nth-last-of-type(1) {
      display: flex;
      flex-direction: column;
    }
  }
  
  &-main {
    background-image: url('../../img/general/main-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    display: flex;
    align-items: flex-end;

    @media screen and (max-width: 767px){
      align-items: flex-end;
      height: 100vh;
    }

    .content {
      max-width: 1096px;
      padding: rem(0, 100, 81);

      @media screen and (max-width: 1440px){
        padding: rem(0, 40, 40);
      }

      @media screen and (max-width: 767px){
        padding: rem(68, 15, 40);
      }

      &__title {
        color: $contrast;
      }

      &__text {
        max-width: 548px;
        font-size: rem(24);
        line-height: 1.333;
        color: rgba($contrast, .33);
      }
    }
  }
}

[class*="bg-img-"] {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;

  @media screen and (max-width: 767px){
    height: 50vw;
    background-position: 50% 50%;

    &:nth-child(odd) {
      background-color: $light;
    }
  }
}

.half {

  &.bg-city {
    background-image: url(../../img/general/rtb-bg.jpg);
    background-position: 50% rem(56);
    background-size: 100% 15vh;
    background-repeat: no-repeat;

    @media screen and (max-width: 767px){
      background-position: 50% 0;

      @media screen and (orientation: landscape){
        background-size: 100% 23vh;
      }
    }
  }

  @media screen and (min-width: 768px){
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: $contrast;
    transition: transform .7s ease-in;
    will-change: transform;
  }

  &:not([class*="bg-img-"]) {
    display: flex;
    align-items: center;
  }

  &.left {
    @media screen and (min-width: 768px){
      left: 0;
    }

    .content {
      max-width: 532px;
    }

    &:not([class*="bg-img-"]) {
      padding: rem(40, 100, 40, 40);
      justify-content: flex-end;

      .page-5 & {
        padding: rem(80, 100, 40, 40);

        @media screen and (max-width: 767px){
          padding: rem(160, 15, 40);

          @media screen and (orientation: landscape){
            padding: rem(100, 15, 40);
          }
        }
      }

      @media screen and (max-width: 1440px){
        padding: rem(20, 40, 20, 20);
      }

      @media screen and (max-width: 767px){
        justify-content: initial;
        padding: rem(40, 15);
      }
    }
  }

  &.right {
    @media screen and (min-width: 768px){
      left: 50%;
    }

    &:not([class*="bg-img-"]) {
      padding: rem(40, 40, 40, 100);

      @media screen and (max-width: 1440px){
        padding: rem(20, 40, 20, 40);
      }

      @media screen and (max-width: 767px){
        padding: rem(40, 15);
      }
    }
  }
}

.bg {
  &-img {
    &-about {
      background-image: url('../../img/general/bg-about.jpg');
    }

    &-pub {
      background-image: url('../../img/general/bg-pub.jpg');
    }

    &-a_d_v {
      background-image: url('../../img/general/bg-a_d_v.jpg');
    }
  }

  &-light {
    background-color: $light;
  }
}
