@import "../shared/variables";
@import "../shared/mixin/px-to-rem";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: rem(16, 0, 15);
  border-bottom: 2px solid rgba($contrast, .2);

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 1;
    transition: transform .3s ease-out .7s;
    background-color: $secondary;
    transform: translateY(-100%);
  }

  .inner-page &, .page-inner & {
    &::before {
      transform: translateY(0%);
      transition: transform .3s ease-out 0s;
    }
  }

  &__container {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(0, 15);
    max-width: 1100px;
    margin: 0 auto;
  }

  &__logo {

  }

  &__nav {
    margin-left: auto;

    @media screen and (max-width: 767px){
      display: none !important;
    }
  }

  &__auth {
    margin-left: rem(50);

    @media screen and (max-width: 1366px) {
      margin-left: rem(35);
    }

    @media screen and (max-width: 767px){
      display: none !important;
    }
  }
  
  &__btn {
    display: none;

    @media screen and (max-width: 767px){
      display: block;
    }
  }
}

.logo {
  display: inline-flex;
  align-items: center;

  &__text {
    margin-left: rem(14);
    color: $light;
    font-family: $font-gilroy-heavy;
    font-size: rem(18);
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: rem(3.6);

    @media screen and (max-width: 767px){
      margin-left: rem(10);
    }
  }
}

.auth {
  display: flex;
  font-size: 0;

  .menu-drop & {
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: rem(0, 15);
    margin-top: rem(40);
  }

  &__link {
    position: relative;
    font-size: rem(11);
    font-weight: 500;
    font-family: $font-gilroy-500;
    line-height: 1.2;
    letter-spacing: rem(2.2);
    color: $light;
    text-transform: uppercase;
    transition: font-weight .15s ease-in-out;

    & + & {
      margin-left: rem(50);

      @media screen and (min-width: 992px) and (max-width: 1440px) {
        margin-left: rem(35);
      }

      @media screen and (max-width: 991px) {
        margin-left: rem(20);
      }

      .menu-drop & {
        margin-left: 0;
      }

    }

    .menu-drop & {
      display: block;
      width: 100%;
      color: $primary;
      padding: rem(10, 0);
    }

    &::before {
      position: absolute;
      content: '';
      top: 100%;
      left: 50%;
      right: 50%;
      z-index: 1;
      height: 1px;
      background-color: $contrast;
      transition: left .15s ease-in-out, right .15s ease-in-out;
    }

    &:hover {
      &::before {
        left: 0;
        right: 0;
      }
    }
  }
}