@import "shared/variables";
@import "shared/mixin/px-to-rem";

body {
  font-size: rem(15);
  font-family: $font-gilroy-400;
  line-height: 2.3333;
  color: $secondary;

  &.page-inner {
    background-color: #edeff2;
    padding-bottom: rem(80);

    @media screen and (max-width: 767px) {
      padding-bottom: rem(40);
    }
  }
}

figure {
  margin: 0;
}

br {
  @media screen and (max-width: 1366px) {
    display: none;
  }
}

.main {
  position: relative;

  @media screen and (min-width: 768px) {
    height: 100vh;
    overflow: hidden;
  }

  .page-inner & {
    @media screen and (min-width: 768px) {
      height: initial;
      overflow: initial;
      padding-top: rem(70);
    }

    @media screen and (max-width: 767px){
      padding-top: rem(40);
    }
  }

  &__terms {
    padding: 0 rem(15);
    max-width: 1090px;
    margin: auto;
  }

  &__container {
    position: relative;
    z-index: 2;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: inherit;
    }
  }

  &__form {
    .content {
      &__title {
        text-align: center;
      }
    }

    .form {
      &__btn {
        text-align: center;
      }
    }
  }

  &__ask {
    margin-top: rem(65);
    text-align: center;

    @media screen and (max-width: 767px) {
      margin-top: rem(40);
    }
  }
}

.caption {
  margin-top: 0;
  color: $secondary;
  font-family: $font-gilroy-700;
  font-size: rem(64);
  font-weight: 700;
  line-height: 1.2;

  @media screen and (max-width: 767px) {
    font-size: rem(40);
  }
}

.wow, .wowInside {
  visibility: hidden;
}

.ask {
  &__text {
    color: $secondary;
    font-family: $font-gilroy-500;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.7778;

    .link {
      font-size: inherit;
      font-family: inherit;
      text-transform: initial;
    }
  }
}

